*.DS_Store

build/
DerivedData/

*.pbxuser
*.mode1v3

*.xcodeproj/*
*.xcodeproj/xcuserdata
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/contents.xcworkspacedata

Podfile.lock
Pods
